.legendModalSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

.legendModalSection .legendModal {
  position: fixed;
  top: 25vh;
  left: calc(50% - 35vw);
  width: 60vw;
  height: 50vh;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 3;
  animation: slide-down 300ms ease-out forwards;
}

.legendModalSection .legendModal .closeLegendModalButton {
  position: fixed;
  width: 18%;
  height: auto;
  right: -3%;
  top: -5%;
  cursor: pointer;
}

.legendModalSection .legendModal .legendModalText {
  padding: 1.1rem;
  text-align: center;
} 

.legendModalSection .legendModal .closingLegendModal {
  display: block;
  width: 40vw;
  margin: 0.5rem auto;
  padding: 0.5rem 2rem;
  border: 1.5px solid black;
  border-radius: 25px;
  background-color: #1f2b37;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 360px) {
  .legendModalSection .legendModal .legendModalText {
    padding: 2.5rem;
  }

  .legendModalSection .legendModal .closingLegendModal {
    margin: 1.5rem auto;
  }
}

@media (min-width: 600px) {
  .legendModalSection .legendModal {
    top: 30vh;
    left: calc(50% - 28vw);
    width: 50vw;
    height: 30vh;
  }

  .legendModalSection .legendModal .legendModalText {
    padding: 1rem;
  }

  .legendModalSection .legendModal .closingLegendModal {
    margin: 1.5rem auto;
  }
}

@media (min-width: 1024px) {
  .legendModalSection .legendModal {
    top: 30vh;
    left: calc(50% - 15vw);
    width: 30vw;
    height: 30vh;
  }

  .legendModalSection .legendModal .closeLegendModalButton {
    width: 8%;
    height: auto;
    right: -3%;
    top: -5%;
  }

  .legendModalSection .legendModal .legendModalText {
    font-size: 1rem;
  }

  .legendModalSection .legendModal .closingLegendModal {
    width: 15vw;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  
  .legendModalSection .legendModal .closingLegendModal:hover {
    background-color: #656565;
    color: white;
  }
}

@media (min-width: 1366px) {
  .legendModalSection .legendModal {
    top: 30vh;
    left: calc(50% - 10vw);
    width: 20vw;
    height: 32vh;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}