.addSingleAppContainer {
  height: 90vh;
  width: 100%;
}

.titleSection {
  width: 80vw;
  padding-top: 1.5rem;
  margin: 0 auto;
}

.titleSection p {
  font-weight: bold;
  text-align: center;
}

.form {
  width: 90vw;
  padding-top: 0.5rem;
  margin: 0 auto;
}

.control {
  padding-bottom: 0.8rem;
  margin: 1rem auto;
}

.control label {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
  padding-bottom: 0.5rem;
  margin: 0 10vw;
  color: whitesmoke;
}

.control input {
  display: block;
  width: 85vw;
  margin: 0.3rem auto 0 auto;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #230052;
}

.form button {
  display: block;
  width: 85vw;
  margin: 1.5rem auto;
  padding: 0.5rem 2rem;
  border: 1.5px solid whitesmoke;
  border-radius: 25px;
  background-color: #54a04f;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.linkContainer {
  width: 70vw;
  height: auto;
  padding-top: 0.5rem;
  margin: auto;
}

.link {			 
  padding: 10px 20px;
  margin: 20px 0;
  color: whitesmoke;
  background: #39ac31;
  text-decoration: none;
  font-size: 1rem;
}

@media (min-width: 360px) and (min-height: 640px) {
  .control {
    margin: 1.3rem auto;
  }

  .control label {
    font-size: 1rem;
  }

  .control input {
    margin: 0.5rem auto 0.5rem auto;
    padding: 0.5rem;
  }

  .check label {
    font-size: 1rem;
  }

  .form button {
    margin: 2rem auto;
    font-size: 2rem;
  }

  .linkContainer {
    padding-left: 2rem;
  }
}

@media (min-width: 360px) and (min-height: 740px) {
  .addSingleAppContainer {
    height: 80vh;
  }
}

@media (min-width: 390px) {
  .addSingleAppContainer {
    height: 70vh;
  }

  .titleSection {
    padding-top: 3rem;
  }

  .linkContainer {
    padding-left: 3rem;
  }
}

@media (min-width: 410px) {
  .addSingleAppContainer {
    height: 80vh;
  }

  .titleSection {
    padding-top: 2rem;
  }

  .titleSection p {
    font-size: 1.4rem;
  }

  .control {
    margin: 1.5rem auto;
  }

  .control input {
    width: 70vw;
  }

  .control label {
    margin: 0 13vw;
    font-size: 1.2rem;
  }

  .form button {
    width: 70vw;
    margin: 2.5rem auto;
  }

  .linkContainer {
    padding-left: 1rem;
  }

  .link {
    font-size: 1.4rem;
  }
}

@media (min-width: 600px) {
  .titleSection {
    width: 60vw;
    padding-top: 3rem;
  }

  .linkContainer {
    width: 60vw;
    padding-left: 5rem;
    padding-top: 2rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .titleSection p {
    font-size: 1.6rem;
  }

  .control input {
    width: 60vw;
  }

  .control label {
    margin: 0 22vw;
    font-size: 1.5rem;
  }

  .form button {
    width: 50vw;
  }

  .linkContainer {
    padding-left: 10rem;
  }

  .link {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .addSingleAppContainer {
    min-height: 100vh;
  }

  .titleSection {
    width: 70vw;
    padding-top: 1rem;
  }

  .titleSection p {
    font-size: 1.8rem;
  }

  .titleSection p:nth-of-type(2) {
    font-size: 1.6rem;
  }

  .form {
    width: 60vw;
    padding-top: 1.5rem;
  }

  .control {
    margin: 1rem auto;
  }

  .control input {
    width: 50vw;
  }

  .control label {
    margin: 0 8vw;
    font-size: 1.3rem;
  }

  .form button {
    width: 25vw;
  }

  .form button:hover {
    background-color: #656565;
  }

  .linkContainer {
    width: 40vw;
    padding-left: 7.5rem;
  }

  .link:hover {
    background-color: #656565;
  }
}

@media (min-width: 1366px) {
  .control {
    margin: 1.5rem auto;
  } 

  .control input {
    width: 45vw;
  }

  .control label {
    margin: 0 9vw;
  }

  .linkContainer {
    width: 30vw;
  }
}