.singleAppSection {
  width: 100%;
  min-height: 100vh;
  color: whitesmoke;
  overflow: hidden;
}

.singleAppSection .infoContainer {
  width: 90vw;
  padding-top: 2rem;
  margin: 0 auto;
}

.appTitle {
  display: flex;
  width: 90vw;
}

.appNames {
  width: 50vw;
}

.appTitle img {
  height: 30%;
  width: 30%;
  padding-top: 1.5rem;
  padding-right: 1.2rem;
}

.icon {
  color: whitesmoke;
  padding-right: 0.5rem;
}

.scoreContainer {
  display: flex;
  width: 70vw;
}

.scoreContainer p:nth-child(1) {
  width: 50vw;
  margin-top: 1.3rem;
}

.infoText a {
  color: whitesmoke;
}

.numberContainer {
  display: flex;
}

.numberName {
  padding-left: 1rem;
}

.numberList {
  padding-left: 3.5rem;
}

.infoLegend {
  padding: 1.5rem 0;
}

.infoLegend p {
  font-size: 0.8rem;
}

.linkContainer {
  padding: 1rem 0 4rem 0;
  text-align: center;
}

.link {			 
  padding: 10px 20px;
  margin: 20px 0;
  color: whitesmoke;
  background: #39ac31;
  text-decoration: none;
}

@media (min-width: 410px) {
  .infoLegend p {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .scoreContainer p:nth-child(1) {
    width: 40vw;
    margin-top: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .singleAppSection .infoContainer {
    width: 70vw;
  }

  .appTitle {
    width: 70vw;
  }

  .appTitle img {
    height: 25%;
    width: 25%;
  }

  .scoreContainer p:nth-child(1) {
    width: 25vw;
    margin-top: 2rem;
  }

  .numberList {
    padding-left: 4.2rem;
  }

  .link:hover {
    background-color: #656565;
  }
}

@media (min-width: 1280px) {
  .singleAppSection .infoContainer {
    width: 50vw;
  }

  .appTitle img {
    height: 19%;
    width: 19%;
  }

  .scoreContainer p:nth-child(1) {
    width: 20vw;
  }
}